[submodule "MasterThesisApp/components/esp32-i2c-lcd1602"]
	path = MasterThesisApp/components/esp32-i2c-lcd1602
	url = https://github.com/DavidAntliff/esp32-i2c-lcd1602.git
[submodule "MasterThesisApp/components/esp32-smbus"]
	path = MasterThesisApp/components/esp32-smbus
	url = https://github.com/DavidAntliff/esp32-smbus.git
[submodule "MasterThesisSchematic"]
	path = MasterThesisSchematic
	url = https://github.com/lombo-cmyk/MasterThesisSchematic
[submodule "MasterThesisApp/components/DHT22-cpp"]
	path = MasterThesisApp/components/DHT22-cpp
	url = https://github.com/lombo-cmyk/DHT22-cpp
[submodule "MasterThesisApp/components/EspEthW5500Modbus"]
	path = MasterThesisApp/components/EspEthW5500Modbus
	url = https://github.com/lombo-cmyk/EspEthW5500Modbus
[submodule "MasterThesisApp/components/CppSingletonTemplate"]
	path = MasterThesisApp/components/CppSingletonTemplate
	url = https://github.com/lombo-cmyk/CppSingletonTemplate
